@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-white text-slate-900 antialiased;
  }

  a {
    @apply text-slate-600 transition-colors;
  }

  a:hover {
    @apply text-slate-900;
  }
}
